<html>

<head>
  <title>Processamento de Sinais</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css"
    integrity="sha512-5PV92qsds/16vyYIJo3T/As4m2d8b6oWYfoqV+vtizRB6KhF1F9kYzWzQmsO6T3z3QG2Xdhrx7FQ+5R1LiQdUA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  hr.hr {
    border-top: 1vmin solid black;
  }

  button {
    margin: 0.5vmin;
    transition: 201ms;
  }

  img {
    margin: 1vmin;
    border: solid black 1.5vmin;
    border-radius: 3vmin;
  }

  h2,
  p,
  h4 {
    text-align: center;
  }

  div.divColors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  span.button {
    font-size: 2vmin;
    color: white;
    font-weight: bolder;
    background-color: #1e1e1e;
  }

  h1#title {
    padding: 0;
    margin-top: 2vmin;
    margin-bottom: 0;
    font-size: 6vmin;
    font-weight: bolder;
  }

  a {
    text-decoration: none;
    color: black;
  }

  #inputImage {
    font-size: 4vmin;
  }

  .colorsElement {
    margin: 0 0.75vmin;
  }

  .colorsButton {
    border: solid black 0.5vmin;
    margin: 0.75vmin;
    width: 15vmin;
    height: 15vmin;
  }

  .textColorsElement {
    background-color: black;
    color: white;
    font-weight: bolder;
    margin-bottom: 0;
    font-size: 2.25vmin;
  }

  .hexCode {
    cursor: pointer;
    transition: 100ms;
  }

  .data {
    color: blueviolet;
  }

  @media (orientation: landscape) {
    img {
      width: auto;
      height: 75vh;
    }
  }

  @media (orientation: portrait) {
    img {
      width: 75vw;
      height: auto;
    }
  }
</style>

<body>
  <div id="main" style="display: flex; flex-direction: column; align-items: center; padding: 3vmin;">
    <h1 id="title"><a href="/">Insira uma imagem</a></h1>
    <form id="form" method="post" action="/getcolorpalettebyimage" enctype="multipart/form-data">
      <input id="inputImage" type="file" name="file" autocomplete="off" required accept="image/jpeg, image/png"
        autofocus>
    </form>
    <img id="image" src="" alt="" style="display: none;">
    <img id="imageResult" src="" alt="" style="display: none;">

    <h3 id="loadingText" style="display: none;">Processando</h3>
    <div id="loading" style="display: none; align-items: center; flex-direction: column;">
      <!-- <h2>Paletas de cores retirada usando o <a href="https://scikit-learn.org/stable/index.html"> Scikit-Learn</a></h2>
      <div id="colorsByScikit-Learn" class="divColors">
        mostrando as cores
      </div>
      <h2>Paletas de cores retirada usando o <a href="https://lokeshdhakar.com/projects/color-thief/"> Color Thief</a>
      </h2>
      <div id="colorsByColorThief" class="divColors">
        mostrando as cores 
      </div> -->
      <h4> Total de pixels "removidos" ou modificados: <span class="data" id="totalPixelsRemoved">0</span> px / <span
          class="data" id="totalPixelsRemovedPercent">0</span>%</h4>
      <hr>
      <h4> Tamanho da imagem original (em pixels): <span class="data" id="totalPixelsOriginalImage">0</span> px</h4>
      <h4> Tamanho da imagem original (em bytes): <span class="data" id="totalBytesOriginalImage">0</span> bytes</h4>
      <hr>
      <h4> Tamanho da imagem modificada (em pixels): <span class="data" id="totalPixelsModifiedImage">0</span> px</h4>
      <h4> Tamanho da imagem modificada (em bytes): <span class="data" id="totalBytesModifiedImage">0</span> bytes</h4>
      <hr>
      <h4> Diferença do Tamanho das imagens (em pixels): <span class="data" id="diffPixels">0</span> px / <span
          class="data" id="diffPixelsPercent">0</span>%</h4>
      <h4> Diferença do Tamanho das imagens (em bytes): <span class="data" id="diffBytes">0</span> bytes / <span
          class="data" id="diffBytesPercent">0</span>%</h4>
      <br>
      <h2 style="margin-bottom: 0;">Paleta de cores obtida com a porcentagem e código hexadecimal de cada cor:</h2>
      <p style="margin-top: 0;">(Clique em uma ou mais cores para selecionar e clique em "Processar imagem" para
        remover.)</p>
      <div id="colorsByExtColors" class="divColors">
        <!-- mostrando as cores -->
      </div>
      <br>
      <h2>Remover canais de cores(R,G,B):</h2>
      <div class="divColors">
        <span class="colorsElement">
          <button id="red" class="channelColor colorsButton" style="background-color: red;"></button>
          <p class="textColorsElement">RED</p>
        </span>
        <span class="colorsElement">
          <button id="green" class="channelColor colorsButton" style="background-color: green;"></button>
          <p class="textColorsElement">GREEN</p>
        </span>
        <span class="colorsElement">
          <button id="blue" class="channelColor colorsButton" style="background-color: blue;"></button>
          <p class="textColorsElement">BLUE</p>
        </span>
      </div>
      <hr class="hr">
      <button class="btn btn-dark btn-block" onclick="sendColorRequest(colorsRequest)">
        <h3 style="font-size: 4vmin;">Processar imagem</h3>
      </button>
      <!-- <button class="btn btn-light btn-block" onclick="sendRemoveBg()">
        <h3 style="font-size: 4vmin;">Remover fundo</h3>
      </button> -->
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

<script>
  let imageFile;
  let colorsRequest = new Set();
  let imageInput = document.getElementById("inputImage");
  let image = document.getElementById("image");
  let imageResult = document.getElementById("imageResult");
  let form = document.getElementById("form");
  let imagePath = "";
  let imageResponsePath = "";
  let pixelsImageOriginal = 0;
  let bytesImageOriginal = 0;

  imageInput.addEventListener("input", async () => {
    if (imageInput.files && imageInput.files[0]) {
      document.getElementById("loadingText").style.display = "unset";
      let reader = new FileReader();
      reader.onload = async (e) => {
        image.src = e.target.result;
        image.style.display = "unset";
        imageInput.style.display = "none";
        let data = new FormData();
        await data.append('file', imageInput.files[0]);
        imageFile = imageInput.files[0];
        axios.post('/getcolorpalettebyimage', data)
          .then((response) => {
            showColorPaletteByExtColors(response);
            imagePath = response.data.imagePath;
            document.getElementById("loadingText").style.display = "none";
            document.getElementById("loading").style.display = "unset"
            setChannelColors();
            window.scrollTo({ top: 1000, behavior: 'smooth' });

            document.getElementById("totalPixelsOriginalImage").innerHTML = response.data.imageInfos.totalPixel;
            document.getElementById("totalBytesOriginalImage").innerHTML = response.data.imageInfos.totalBytes;
            pixelsImageOriginal = response.data.imageInfos.totalPixel;
            bytesImageOriginal = response.data.imageInfos.totalBytes;
          }, (error) => { });
        // document.getElementById("main").removeChild(document.getElementById("title"));
      };
      reader.readAsDataURL(imageInput.files[0]);
    }
  })

  function showColorPaletteByExtColors(response) {
    let colorsElement = document.getElementById("colorsByExtColors");
    colorsData = response.data.colorsByExtColor;

    for (let i = 0; i < colorsData.length; i++) {
      if (colorsData[i][0] > 1) {
        let colorsItem = document.createElement("span");
        colorsItem.className = "colorsElement";
        let colorsButton = document.createElement("button");
        colorsButton.className = "colorsButton";
        colorsButton.style.backgroundColor = 'rgb(' + colorsData[i][1][0][0] + ',' + colorsData[i][1][0][1] + ',' + colorsData[i][1][0][2] + ')';
        colorsButton.addEventListener("click", (e) => {
          let colorOfElement = e.target.style.backgroundColor;
          if (e.target.style.boxShadow == "" && e.target.className != "button")
            e.target.style.boxShadow = "0.7vmin 0.7vmin";
          else
            e.target.style.boxShadow = "";
          if (colorOfElement !== '')
            setColorsRequest(e.target.style.backgroundColor);
        });

        let percentage = document.createElement("p");
        percentage.innerHTML = `${(colorsData[i][0]).toFixed(2)}%`;
        percentage.className = "textColorsElement";
        let hexCode = document.createElement("p");
        hexCode.className = "textColorsElement hexCode";
        hexCode.innerHTML = rgbToHex(colorsData[i][1][0][0], colorsData[i][1][0][1], colorsData[i][1][0][2]).toUpperCase() + " <i style='color: white;' class='bi bi-clipboard'></i>";

        hexCode.addEventListener("click", e => {
          if (e.target.className == "bi bi-clipboard") {
            e.target.parentNode.style.color = "blue";
            e.target.style.color = "blue";
            e.target.className = "bi bi-clipboard-check";
            setTimeout(() => {
              e.target.parentNode.style.color = "white";
              e.target.style.color = "white";
              e.target.className = "bi bi-clipboard";
            }, 1000);
            navigator.clipboard.writeText(e.target.parentNode.innerHTML.substring(0, 7));
            return;
          }
          let text = e.target.innerHTML.substring(0, 7) + "";
          e.target.style.color = "blue";
          e.target.innerHTML = text + " <i class='bi bi-clipboard-check'></i>";
          setTimeout(() => {
            e.target.style.color = "white";
            e.target.innerHTML = e.target.innerHTML.substring(0, 7) + " <i class='bi bi-clipboard'></i>";
          }, 1000);
          navigator.clipboard.writeText(e.target.innerHTML.substring(0, 7));
        });

        colorsItem.appendChild(colorsButton);
        colorsItem.appendChild(percentage);
        colorsItem.appendChild(hexCode);
        colorsElement.appendChild(colorsItem);

      }
    }
    document.getElementById("colorsByExtColors").scrollIntoView({ behavior: 'smooth', block: 'center' });
  }

  function setColorsRequest(color) {
    // document.getElementById("loadingText").style.display = "unset";
    // document.getElementById("loading").style.display = "none";
    if (color.includes('rgb'))
      color = color.replace('rgb(', '').replace(')', '').split(',').map(Number);
    for (const arr of colorsRequest) {
      if (arr.toString() === color.toString()) {
        colorsRequest.delete(arr);
        // console.log(colorsRequest);
        return 0;
      }
    }
    colorsRequest.add(color);
    // console.log(colorsRequest);
    return 0;
  }

  async function sendColorRequest(colorsToSend) {
    colorsToSend = Array.from(colorsToSend);
    let reader = new FileReader();
    reader.onload = (e) => {
      imageResult.src = e.target.result;
      image.style.display = "none";
      imageResult.style.display = "unset";
      document.getElementById("loadingText").style.display = "none";
      document.getElementById("loading").style.display = "unset";
      window.scrollTo({ top: 0, behavior: 'smooth' });
    };
    if (colorsToSend.length > 0) {
      document.getElementById("loadingText").style.display = "unset";
      document.getElementById("loading").style.display = "none";

      let data = {
        'colorsToSend': colorsToSend,
        'imagePath': imagePath
      }
      axios.post('/removeColor', data)
        .then((response) => {
          imageResponsePath = response.data.imageResponsePath;
          document.getElementById("totalPixelsModifiedImage").innerHTML = response.data.imageInfos.totalPixel;
          document.getElementById("totalBytesModifiedImage").innerHTML = response.data.imageInfos.totalBytes;
          axios.post('/getImage', { imagePath: imageResponsePath }, { responseType: 'blob' }).then(async (response) => {
            reader.readAsDataURL(response.data);
          }, (error) => {
            // console.log(error);
            document.getElementById("loadingText").style.display = "none";
            document.getElementById("loading").style.display = "unset";
          });
          document.getElementById("totalPixelsRemoved").innerHTML = response.data.totalPixelsRemoved;
          document.getElementById("totalPixelsRemovedPercent").innerHTML = ((response.data.totalPixelsRemoved / pixelsImageOriginal) * 100).toFixed(2);
          
          let diffPixelsPercent = (((response.data.imageInfos.totalPixel / pixelsImageOriginal) - 1) * 100).toFixed(2);
          document.getElementById("diffPixelsPercent").innerHTML = diffPixelsPercent;
          if (diffPixelsPercent > 0)
            document.getElementById("diffPixelsPercent").style.color = "green";
          else if (diffPixelsPercent < 0)
            document.getElementById("diffPixelsPercent").style.color = "red";

          let diffBytesPercent = (((response.data.imageInfos.totalBytes / bytesImageOriginal) - 1) * 100).toFixed(2);
          document.getElementById("diffBytesPercent").innerHTML = diffBytesPercent;
          if (diffBytesPercent > 0)
            document.getElementById("diffBytesPercent").style.color = "green";
          else if (diffBytesPercent < 0)
            document.getElementById("diffBytesPercent").style.color = "red";

          let diffPixels = response.data.imageInfos.totalPixel - pixelsImageOriginal;
          document.getElementById("diffPixels").innerHTML = diffPixels;
          if (diffPixels > 0)
            document.getElementById("diffPixels").style.color = "green";
          else if (diffPixels < 0)
            document.getElementById("diffPixels").style.color = "red";

          let diffBytes = response.data.imageInfos.totalBytes - bytesImageOriginal;
          document.getElementById("diffBytes").innerHTML = diffBytes;
          if (diffBytes > 0)
            document.getElementById("diffBytes").style.color = "green";
          else if (diffBytes < 0)
            document.getElementById("diffBytes").style.color = "red";
        }, (error) => {
          // console.log(error);
          document.getElementById("loadingText").style.display = "none";
          document.getElementById("loading").style.display = "unset";
        });
    }
    else {
      imageResult.style.display = "none";
      image.style.display = "unset";
      document.getElementById("totalPixelsModifiedImage").innerHTML = 0;
      document.getElementById("totalBytesModifiedImage").innerHTML = 0;
      document.getElementById("totalPixelsRemoved").innerHTML = 0;
      document.getElementById("totalPixelsRemovedPercent").innerHTML = 0;
      document.getElementById("diffPixelsPercent").innerHTML = 0;
      document.getElementById("diffPixelsPercent").style.color = "blueviolet";
      document.getElementById("diffBytesPercent").innerHTML = 0;
      document.getElementById("diffBytesPercent").style.color = "blueviolet";
      document.getElementById("diffPixels").innerHTML = 0;
      document.getElementById("diffPixels").style.color = "blueviolet";
      document.getElementById("diffBytes").innerHTML = 0;
      document.getElementById("diffBytes").style.color = "blueviolet";
      window.scrollTo({ top: 0, behavior: 'smooth' });
    }
  }

  let count = 0;
  loadingText();
  function loadingText() {
    setInterval(() => {
      if (count >= 3) {
        count = 0;
        document.getElementById("loadingText").innerHTML = "Processando";
      }
      document.getElementById("loadingText").innerHTML += ".";
      count++;
    }, 300);
  }

  function setChannelColors() {
    let elements = document.getElementsByClassName("channelColor");
    for (let i = 0; i < elements.length; i++) {
      elements[i].addEventListener('click', (e) => {
        if (e.target.style.boxShadow == "" && e.target.className != "button") {
          e.target.style.boxShadow = "0.7vmin 0.7vmin";
          setColorsRequest(e.target.id);
        }
        else if (e.target.className != "button") {
          e.target.style.boxShadow = "";
          setColorsRequest(e.target.id);
        }
      });
    }
  }

  function rgbToHex(r, g, b) {
    return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);

    function componentToHex(c) {
      var hex = c.toString(16);
      return hex.length == 1 ? "0" + hex : hex;
    }
  }

</script>

</html>